<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="thumbnail">
        <div class="caption">
            <div class='col-lg-12 well well-add-card'>
                <h4>{{ title }}</h4>
            </div>
            <div class='col-lg-12'>
                <p>{{ description }}</p>
                <p class="text-muted">&nbsp;</p>
            </div>
            {% if have_role %}
                <button type="button" class="btn btn-success btn-xs btn-update btn-add-card">Wejdź</button>
            {% else %}
                <button type="button" class="btn btn-danger btn-xs btn-update btn-add-card">Wnioskuj o dostęp</button>
            {% endif %}
        </div>
    </div>
</div>