{% extends '@ZhpZbiorki/base_zbiorka_dashboard.html.twig' %}

{% block content %}
    <div class="container">
        {% include '@ZhpZbiorki/Form/zbiorka_type.html.twig' with {form: form} %}
    </div>
{% endblock %}