{% extends '::base_user_dashboard.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">

        <div class="container" id="tourpackages-carousel">
            <div class="row">
                <div class="col-lg-12"><h1>Moduły</h1></div>
                {% include 'ZhpDashboardBundle:Component:_card_component.html.twig'
                with
                    {   'title' : "Zbiórki publiczne",
                        'description' : "Zarządzaj zbiórkami publicznymi",
                        'have_role' : is_granted('ROLE_ZBIORKI'),
                        'path' : path('zhp_zbiorki')
                    }
                %}
                {% include 'ZhpDashboardBundle:Component:_card_component.html.twig'
                with
                    {   'title' : "HAL",
                        'description' : "Harcerska akcja letnia",
                        'have_role' : is_granted('ROLE_HAL')
                    }
                %}
                {% include 'ZhpDashboardBundle:Component:_card_component.html.twig'
                with
                {'title' : "Raporty", 'description' : "Moduł raportowania i rozliczeń", 'have_role' : is_granted('ROLE_RAPORTY')}
                %}
                {% include 'ZhpDashboardBundle:Component:_card_component.html.twig'
                with
                {'title' : "Moduł administracyjny", 'description' : "Zarządzaj użytkownikami i ustawieniami systemu", 'have_role' : is_granted('ROLE_ADMIN')}
                %}
            </div><!-- End row -->
        </div><!-- End container -->

    </div>
{% endblock %}
