{% extends 'ZhpFrontendBundle::base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">

                <h1>Witamy na stronie E-hufca</h1>
                <p>Z poziomu tej aplikacji masz dostęp do:
                <ul>
                    <li>zarządzania zbiórkami publicznymi</li>
                    <li>harcerskiej akcji letniej</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
