{% extends 'ZhpFrontendBundle::base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">

                <h1>Witamy na stronie E-hufca</h1>
                <p>Z poziomu tej aplikacji masz dostęp do:
                <ul>
                    <li>zarządzania zbiórkami publicznymi</li>
                    <li>harcerskiej akcji letniej</li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Bieżące zbiórki</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Jednostka</th>
                            <th>Status akceptacji</th>
                            <th>Status wpłat</th>
                            <th>Status rozliczenia</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
